*{
  margin: 0;
  padding: 0;
}
.text-orange{
  color: #ffcc85;
}
.text-green{
  color:#4bff7b;
}
.heading-font-size{
  font-size: 62px;
}
.border-bottom-green{
  border-bottom: 1px solid #7dc5906e;
}
.border-right-green{
  border-right: 1px solid #7dc5906e;
}
.border-bottom-orange{
  border-bottom: 1px solid #af8b5580;
}
.border-right-orange{
  border-right: 1px solid #af8b5580 !important;
}

.main{
  background-color: #0e0e0e;
  min-height: 100vh;

}
.order-in-queue-table-bg{
  background-color: #22190E;
  color: #fff;
}
.ready-to-collect-table-bg{
  background-color: #1B3621;
  color: #4bff7b;
}
.bg-Black{
  background-color: #0e0e0e;
}
.customer-order-table{
  box-shadow: -8px 20px 30px #000000c7;
}
.min-height-4{
  min-height: 4rem;
}
.border-right-grey{
  border-right: 1px solid #303030;
}
.border-bottom-grey{
  border-bottom: 1px solid #303030;
}
.border-grey-without-bottom{
  border-top: 1px solid #303030;
  border-left: 1px solid #303030;
  border-right: 1px solid #303030;
}

.col-height{
  min-height: calc(100vh - 32.1vh);
}
.ready-to-collect-minHeight{
  max-height: 16rem;
}



.stall-bg-orange{
  background-color: #2C2317;
  color: white;
}
.stall-bg-green{
  background-color: #0E130F;
  color: white;
}
.gradient-border-right{
  border: none;
  border-right: 1px solid;
  border-image: linear-gradient(
      180deg,
      rgba(122, 103, 78, 0) 0%,
      rgb(122, 103, 78) 50%,  
      rgba(122, 103, 78, 0.01) 100%
  );
  border-image-slice: 1;
}
.gradient-border-right-green{
  border: none;
  border-right: 1px solid;
  border-image: linear-gradient(
      180deg,
      rgba(108, 186, 131, 0) 0%,
      rgb(110, 163, 126) 50%,  
      rgba(108, 186, 131, 0) 100%
  );
  border-image-slice: 1;
}
.gradient-border-bottom{
  border: none;
  border-bottom: 1px solid;
  border-image: linear-gradient(
      90deg,
      rgba(122, 103, 78, 0.075) 0%,
      rgb(122, 103, 78) 50%,  
      rgba(122, 103, 78, 0.075) 100%
  );
  border-image-slice: 1;
}
.gradient-border-top-right{
  border: none;
  border-bottom: 1px solid;
  border-image: linear-gradient(
      90deg,
      rgba(122, 103, 78, 0.075) 0%,
      rgb(110, 163, 126) 50%, 
      rgba(122, 103, 78, 0.075) 100%
  );
  border-image-slice: 1;
}
.py-11{
  padding: 10px 0;
}
.py-8{
  padding: 6px 0;
 
}

.border-top-green{
  border-top: 1px solid #7dc5906e;
}